Makefile
Makefile.in

*-decl.txt
*-decl-list.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt
*-overrides.txt

gst-plugins-imx8-plugins.args.new
gst-plugins-imx8-plugins.signals.new

tmpl
html
sgml
xml
*.stamp
*.bak

gst-plugins-imx8-plugins-scan
gst-plugins-imx8-plugins-scan.c
inspect-registry.*
